name = "DEBmicroTrait"
uuid = "5a9f23b9-c04c-45f5-b108-aafc68f725bc"
authors = ["Gianna Marschmann"]
version = "0.1.0"

[compat]
julia = "1"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
